<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./index.html">Dueño</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/laboratorio_1/views/mascota/index.html">Mascota</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/laboratorio_1/views/medicamento/index.html">Medicamentos</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <form action="/laboratorio_1/recibirEncargado.php" method="POST">
            
            <input class="form-control" type="hidden" name="action" value="save">
    
            <div class="card mt-4">
                <div class="card-header">
                    <i class="fa fa-edit"></i>
                    Crear Duenio
                </div>
    
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label fw-bold" for="nombres">
                                    Nombre completo
                                </label>
                                <input type="text" class="form-control" name="nombre" maxlength="75"
                                placeholder="Ingresa el nombre" required>
                            </div>
                        </div>
    
                        <div class="col-md-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label fw-bold" for="documento">
                                    DUI
                                </label>
                                <input type="text" class="form-control" name="documento" maxlength="10"
                                placeholder="Ingresa DUI" required>
                            </div>
                        </div>
    
                        <div class="col-md-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label fw-bold" for="telefono">
                                    Teléfono
                                </label>
                                <input type="text" class="form-control" name="telefono" maxlength="9"
                                placeholder="Ingresa el numero de telefono" required>
                            </div>
                        </div>
    
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="direccion" class="form-label fw-bold">Dirección</label>
                                <textarea class="form-control" name="direccion" rows="4" 
                                placeholder="Dirección del Cliente"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                        Guardar
                    </button>
    
                    <a href="#" class="btn btn-secondary">
                        <i class="fa fa-arrow-circle-left"></i>
                        Regresar
                    </a>
                </div>
            </div>
        </form>
    </div>
    

</body>
</html>